<% @all_transactions.each do |txn| %>

<% if txn.seller? %>
<div class="panel panel-info user-txn">
<% else %>
<div class="panel panel-warning user-txn">
<%end %>

  <div class="panel-heading">
  	<h4><span><%= txn.product.name %></span>
  	<span class="pull-right">$<%= txn.product.price %></span></h4>
  </div>

  <div class="panel-body">
  	<span class="col-xs-3">
  		<%= image_tag txn.product.avatar.url(:medium), class: "img-rounded img-responsive pull-left txn-product-image" %>
		</span>

		<div class="col-xs-6 txn-product-info">
	  	<p><%= txn.product.description %></p>

	  	<!-- edit-delete-buttons shown only when role=seller -->
	  	<% if txn.seller? %>
	  	<div class="align-buttons-to-bottom edit-delete-buttons">
	  		<%= button_to "Edit", product_path(txn.product), method: :get, class: "btn btn-warning" %>
			</div>
			<% end %>
		</div>

		<div class="col-xs-3 txn-status-options">
			<div class="well well-sm seller-friend">
				<span class="pull-left">
					<strong><%= txn.visible_status %></strong><br>
					<% unless txn.transact_with == nil %>
					<%= txn.status_preposition+' '+txn.transact_with.user.first_name+' '+txn.transact_with.user.last_name %><br>
					<% end %>
					as of <%= txn.updated_at.to_date.to_formatted_s(:long) %>
				</span>
				<% unless txn.transact_with == nil %>
				<span class="pull-right"><%= image_tag txn.transact_with.user.image, class: 'img-rounded img-responsive friend-image' %></span>
				<% end %>
			</div>

			<!-- pending-seller-buttons shown only when role=seller and txn_status=pending -->
			<% if txn.seller? && txn.txn_status.pending? %>
			<div class="align-buttons-to-bottom pending-seller-buttons">
				<span class="pull-left"><%= button_to "Approve Sale", accept_path(txn), data: {confirm: "Please confirm. You are selling your #{txn.product.name.downcase} to #{txn.transact_with.user.first_name}."}, method: :post, class: "btn btn-success" %></span>
				<span class="pull-right"><%= button_to "Decline Sale", decline_path(txn), data: {confirm: "Are you sure you don't want to sell your #{txn.product.name.downcase} to #{txn.transact_with.user.first_name}?"}, method: :post, class: "btn btn-danger" %></span>
			</div>
			<% end %>
		</div>

	</div>
</div>
<% end %>
