<% @friends_sales.each do |product| %>

<div class="panel panel-success user-txn">
	
	<div class="panel-heading">
		<h4><span><%= product.name %></span>
		<span class="pull-right">$<%= product.price %></span></h4>
	</div>

	<div class="panel-body">
		<span class="col-xs-3">
		<img class="img-rounded img-responsive pull-left txn-product-image" src="<%= product.image_url %>" />
		</span>
	
		<div class="col-xs-6 txn-product-info">
	  	<p><%= product.description %></p>
	  	<div class="align-buttons-to-bottom view-buy-buttons">
				<button type="button" class="btn btn-xs btn-default">View Listing</button>
				<%= button_to "Buy #{product.seller.first_name}'s #{product.name}", purchase_path(product), data: {confirm: "Please confirm you want to buy this from #{product.name} from #{product.seller.first_name}. Once the seller accepts, you will be charged via Venmo."}, method: :post, class: "btn btn-warning" %>
			</div>
	</div>
</div>	

<% end %>



