<% @friends_sales.each do |product| %>

<div class="panel panel-warning user-txn">
	
	<div class="panel-heading">
		<h4><span><%= product.name %></span>
		<span class="pull-right">$<%= product.price %></span></h4>
	</div>

	<div class="panel-body">
		<span class="col-xs-3">
			<%= image_tag product.avatar.url(:medium), class: "img-rounded img-responsive pull-left txn-product-image" %>
		</span>
	
		<div class="col-xs-6 txn-product-info">
	  	<p><%= product.description %></p>
	  </div>

	  <div class="col-xs-3 txn-status-options">
			<div class="well well-sm seller-friend">
				<span class="pull-left friend-name"><%= product.seller.full_name %></span>
				<span class="pull-right"><%= image_tag product.seller.image, class: 'img-rounded img-responsive friend-image' %></span>
			</div>

	  	<div class="align-buttons-to-bottom">
				<span class="pull-left"><%= button_to "View Listing", product_path(product), method: :get, class: "btn btn-warning" %></span>
				<span class="pull-right"><%= button_to "Buy This Item", purchase_path(product), data: {confirm: "Please confirm you want to buy #{product.seller.first_name}'s #{product.name.downcase}. Once the seller accepts, you will be charged via Venmo."}, method: :post, class: "btn btn-warning" %></span>
			</div>
		</div>

	</div>
</div>	

<% end %>
