<div class="panel panel-default user-txn">
  
  <div class="panel-heading">
    <h4><span>New Product</span>
  </div>

  <div class="panel-body">
    <div class="col-xs-9">
      <form role="form" class="col-xs-12">
        <%= form_for(@product) do |f| %>

        <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>

        <div class="form-group">
          <%= f.label :price %><br>
          <%= f.number_field :price %>
        </div>

        <div class="form-group">
          <%= f.file_field :avatar %><br>
        </div>

        <%= f.submit %>

        <% end %>
      </form>
    </div>

    <div class="col-xs-3 product-options">
      <div class="well well-sm seller-friend">
        <span class="pull-left friend-name"><%= @current_user.full_name %></span>
        <span class="pull-right"><%= image_tag @current_user.image, class: 'img-rounded img-responsive friend-image' %></span>
      </div> 
    </div>

  </div>
</div>
