<h1>New product page!</h1>

<div>
	<%= form_for(@product) do |f| %>

	<%= f.label :name %>
  <div><%= f.text_field :name %></div>

  <%= f.label :description %>
  <div><%= f.text_field :description %></div>

  <%= f.label :price %>
  <div><%= f.text_field :price %></div>

  <%#= f.label :avatar  %>
  <div><%= f.file_field :avatar %></div>

  <div><%= f.submit %></div>
  <% end %>
</div>