<h1>product show page!</h1>

<div>
  <div><%= @product.name %></div>
  <div><%= @product.description %></div>
  <div>$<%= @product.price %>.00</div>
  <div><%=  image_tag @product.avatar.url(:medium) %></div>
  <div><button type="button" class = "btn btn-warning" id="edit">Edit</button></div>
  <div><%= button_to "Buy from #{@product.seller.first_name}", purchase_path(@product), data: {confirm: "Please confirm you want to buy this from #{@product.name} from #{@product.seller.first_name}. Once the seller accepts, you will be charged via Venmo."}, method: :post, class: "btn btn-warning" %></div>
  <!-- new for destroy method branch -->
  <div><%= link_to "delete", @product, method: :delete, data: {confirm: "are you sure you want to delete?"}, :class => "btn btn-danger btn-xs" %></div>
  <!-- ^^new for destroy method branch -->
</div>


<div class="field">
  <%= form_for(@product) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%#= f.label :avatar  %>
  <%= f.file_field :avatar %>

  <%= f.submit %>
  <% end %>
</div>