<h1>product show page!</h1>

<div>
  <div><%= @product.name %></div>
  <div><%= @product.description %></div>
  <div>$<%= @product.price %>.00</div>
  <div><%=  image_tag @product.avatar.url(:medium) %></div>
  <div><button id="edit">Edit</button></div>
  <div><button id="buy">Buy Now!</button></div>
</div>


<div class="field">
  <%= form_for(@product) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%#= f.label :avatar  %>
  <%= f.file_field :avatar %>

  <%= f.submit %>
  <% end %>
</div>